
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('../fonts/Quicksand_Dash.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%; /* Ensure the body takes the full width of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 194, 81);
  font-family: 'Quicksand', sans-serif;
}


.root {
  background-color: rgb(83,181,176);
  width: 80%;
  height: 80%;
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
  /*text-align: center;*/
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  overflow: auto;
}

.container {
  display: flex;
  border-radius: 8px; /* Optional: rounded corners */
  width: 100%; /* Ensure the body takes the full width of the viewport */
}


.container_child_2 {
  /*border: 1px solid black;*/
  display: flex;
  flex-grow: 1;

}

.main-content {
  background-color: rgba(63, 63, 63);
  flex-grow: 1;
  border: 1px solid black;

}

.main-content p{
  color: #fff;
}

.main-content-container {
  background-color: rgb(255,255,255);
  flex-grow: 1;

  /*background-image: url('./assets/background.jpg');*/
  background-color: rgba(113, 113, 113);
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed during scrolling */
}



.left-menu {
  min-width: 200px;
  background-color: rgb(83,181,176);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.left-menu ul {
  padding: 0;
  list-style-type: none;
}

.left-menu-titles{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

.left-menu-titles_li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-menu-titles_li.selected {
  background-color: rgb(66, 144, 140);
}

.left-menu-titles_li:hover {
  background-color: rgb(66, 144, 140);
  transition: background-color 0.3s ease; /* Smooth transition */
}

.left-menu-titles_li li{
  //margin-bottom: 36px; /* Adjust this value to add more or less spacing */
}

.left-menu-titles_li li:last-child {
  margin-bottom: 30px; /* Remove the margin from the last item */
}

.submenu-brand-name{
  text-decoration: none;
  color: #333333;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: large;
}

.submenu-brand-name:hover{
  /*background-color: #555; !* Change background color on hover *!*/
  background-color: rgb(53, 115, 112); /* Change background color on hover */
  color: white; /* Change text color on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.brand-checkbox {
  cursor: pointer;
  /*width: 15px;*/
  /*height: 15px;*/
}
.row-image {
  width: 200px;
  height: 200px;
  /*border: 1px solid black;*/
  margin-right: 10px; /* Add some margin between image and text */
}

.main-content-titles {
  display: flex;
  align-items: center; /* Vertically center content */
  margin-right: 10px; /* Add some margin between image and text */
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.main-content-titles:hover{
  background-color: #555;
}

.main-content-titles_price{
  font-weight: bold;
}

/* menu base styles */
nav {
  background: #333;
  border-top-right-radius: 8px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0; /* Add margin reset */
}

nav li {
  flex: 1;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

nav li:hover {
  background-color: #555;
}

.top-menu-titles {
  font-weight: bold;
  font-size: x-large;
}

.top-menu-titles.selected {
  background-color: #555; /* Same color as the hover state */
}

.quarter-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Adjust width and height as needed */
  height: 200px;
  overflow: hidden; /* Ensure any overflow is hidden */
}

.quarter-circle {
  width: 200px; /* Same as container width */
  height: 200px; /* Same as container height */
  background-color: rgb(246, 194, 81); /* Adjust color as needed */
  border-radius: 0 0 0 100%; /* This creates a quarter circle */
  position: absolute;
  top: 0;
  left: 0;
}

.outer-root {
  width: 100%; /* Adjust width and height as needed */
  height: 100%;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Center items vertically within the container */
  align-items: center; /* Center items horizontally within the container */
}

.oval {
  height: 100px;
  width: 200px;
  background-color: #555;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /*margin-bottom: 90px;*/
  display: none;
}

.home-page {
  background-color: rgb(83,181,176);
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/

  width: 100vw; /* Full viewport width */


}

.home-page-main-content {
  margin-left: 16px;
  margin-right: 16px;
}

/*nav a {*/
/*  margin: 10px;*/
/*  text-decoration: none;*/
/*  font-size: 18px;*/
/*  color: white;*/
/*}*/

/*nav a:hover {*/
/*  text-decoration: underline;*/
/*}*/

.shopAllDayTitle {
  color: white;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.link-with-desc {
  /*display: flex;*/
  /*flex-direction: row;*/
  margin-bottom: 60px;
}

.link-long-desc {
  color: white;
  font-size: 30px;
}

.link-style {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.goal{
  margin-top: 30px;
  padding: 16px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  /*background-color: rgb(231,233,235);*/
  background: #333;
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.goal-desc {
  color: white;
  font-size: 30px;
  margin-right: 80px;
  font-weight: normal;
}

.aws-container {
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: 600px;
  width: 1200px;
  background-color: #FF9900;
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.aws-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ec2-container {
  padding: 16px;
  margin-top: 30px;
  height: 500px;
  width: 1000px;
  background-color: rgb(190,21,88);
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.8); /* Elevation effect */
}

.ec2-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.docker-container {
  padding: 16px;
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-color: rgb(28, 144, 237);
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.docker-container:hover{
  /*background-color: #e0e0e0; !* Lightened background color on hover *!*/
  /*background-color: rgb(15, 100, 165); !* Darkened background color on hover *!*/
  background-color: rgb(20, 110, 180); /* Darkened background color on hover */
}

.docker-container li {
  flex: 1;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.docker-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.docker-container2 {
  margin-left: 30px;
  padding: 16px;
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-color: rgb(28, 144, 237);
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.docker-container2:hover{
  /*background-color: #e0e0e0; !* Lightened background color on hover *!*/
  /*background-color: rgb(15, 100, 165); !* Darkened background color on hover *!*/
  background-color: rgb(20, 110, 180); /* Darkened background color on hover */
}

.docker-container2 li {
  flex: 1;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.all-docker-containers {
  display: flex;
}

.spring-boot-logo {
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  margin-right: 10px; /* Add some margin between image and text */
}

.docker-description-container {
  font-size: 18px;
  /*color: white;*/
  color: #f0f0f0
}

.erd-image-container {
  align-self: center;
  width: 100%; /* Ensure the container takes up the full width available */
  height: 100%; /* Set a fixed height or use another measurement like viewport height (vh) */
  /*overflow: hidden; !* Hide any overflow to prevent scrollbars *!*/
  position: relative; /* Ensure proper positioning of the image */
}

.erd-image-container img {
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  align-self: center;
  /*position: absolute; !* Position the image absolutely within its container *!*/
  /*top: 0; !* Align to the top of the container *!*/
  /*left: 0; !* Align to the left of the container *!*/
}

.details-screen-container {
  background-color: rgba(63, 63, 63);
  display: flex; /* stack children from left to right*/
  position: relative; /* Positioning context for the line */
}

.details-screen-container-left-side {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.details-screen-container-right-side {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}


.details-screen-vertical-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Adjust spacing around the line */
}

.details-screen-vertical-line {
  width: 3px;
  height: 70%;
  background-color: #fff; /* Black color for the line */
}

.details-image {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.image-with-desc-container {
  display: flex;
  margin-top: 16px;
}

.details-long-title {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.details-long-desc {
  color: white;
  font-size: large;
}

.details-screen-desc-container {
  margin-left: 16px;
}

.details-price-container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.details-price-container span {
  color: white;
}

.details-price-title {
  font-size: x-large;
}

.details-price-value {
  font-weight: bold;
  font-size: x-large;
}

.details-screen-quantity-title {
  font-size: large;
  color: white;
}

.details-screen-title-and-select-container-sizes {
  display: grid;
  margin-top: 16px;
}

.details-screen-title-and-select-container {
  display: grid;
  margin-top: 30px;
}

.details-screen-select-title {
  font-size: large;
  color: white;
}

.details-screen-select {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.checkout-button-container {
  margin-top: 30px; /* Adjust margin as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.checkout-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.checkout-button:active {
  background-color: #1e7e34; /* Even darker green on click */
}

.back-button-container {
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;

}

.back-button {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.back-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.back-button:active {
  background-color: #004085; /* Even darker blue on click */
}

.feature-not-complete-msg {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 20px;
  font-size: 16px;
  color: red;
}

.git-hub-image {
  width: 30px;
  height: 30px;
}

.todo{
  margin-top: 30px;
  padding: 16px;
  margin-bottom: 30px;

  /*background-color: rgb(231,233,235);*/
  background: #333;
  border-radius: 16px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Elevation effect */
}

.todo-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.todo-list {
  color: white;
  font-size: 25px;
  margin-right: 80px;
  font-weight: normal;
}

.todo-list li {
padding: 5px;
}

.developed-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(83,181,176);
}

.developed-by-msg {
  margin-bottom: 30px;
  font-size: 17px;
  font-style: italic;
  color: black; /* Optional: text color */
}






